/*-- Standard Settings --*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.cdnfonts.com/css/lt-remark");

:root {
  /* Colors */
  --glass: #f5f4fc;
  --ash: #808080;
  --white: #fff;
  --charcoal: #111111;
  --black: #000;
  --alpha-40: rgba(255, 255, 255, 0.4);
  --alpha-25: rgba(255, 255, 255, 0.25);
  --blur: blur(5px);
}

* {
  /* overflow-x: hidden; */
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar {
  display: none;
}

.flex {
  display: flex;
}
.shrink-0 {
  flex-shrink: 0;
}

@keyframes marquee-left {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(calc(-100% - var(--gap)));
  }
}
.animate-marquee-left {
  animation: marquee-left var(--duration, 40s) linear infinite;
}
.flex-row {
  flex-direction: row;
}
.flex-col {
  flex-direction: column;
}
.justify-around {
  justify-content: space-around;
}
.gap-\[1rem\] {
  gap: 1rem;
}
.overflow-hidden {
  overflow: hidden;
}
.column-wrap {
  display: flex;
  flex-direction: column;
  gap: 10rem;
}

.\[--gap\:1rem\] {
  --gap: 1rem;
}
.group:hover .group-hover\:\[animation-play-state\:paused\] {
  animation-play-state: paused;
}
/* Animations */
@keyframes spotifyAnim {
  10% {
    transform: scaleY(0.3);
  }
  30% {
    transform: scaleY(1);
  }
  60% {
    transform: scaleY(0.5);
  }
  80% {
    transform: scaleY(0.75);
  }
  100% {
    transform: scaleY(0.5);
  }
}
@keyframes pulseRing {
  0% {
    transform: scale(0.5);
  }
  80%,
  100% {
    opacity: 0;
  }
}

@keyframes pulseDot {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
}
/*-- GSAP --*/
.word {
  transform: translateY(110px);
  transition: transform 0.5s;
}

/*-- Preloader --*/
.preloader {
  overflow: hidden;
  opacity: 1;
}

.preloader__background {
  position: fixed;
  inset: 0;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: black;
  color: white;
}

.preloader__text {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
  line-height: 1.5;
  font-family: "LT Remark", sans-serif;
  font-size: 3rem;
  letter-spacing: 0.5px;
  z-index: 3;
  color: white;
  width: 90%;
  text-align: center;
}

.preloader__text span {
  display: block;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--white);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body.no-scroll {
  overflow: hidden;
  position: fixed;
  width: 100%;
  height: 100%;
}

img,
video {
  max-width: 100%;
  height: auto;
}
body section {
  padding: 2rem 6rem;
}

a {
  text-decoration: none;
  list-style-type: none;
  color: var(--black);
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
/*-- Nav --*/
.logo {
  transition: opacity 0.3s ease, visibility 0.3s ease;
  opacity: 1;
  visibility: visible;
}

.logo.hidden {
  opacity: 0;
  visibility: hidden;
}
.Nav {
  position: relative;
  z-index: 1000;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

ul {
  display: flex;
  align-items: center;
}

ul li {
  list-style-type: none;
  margin: 0 10px;
}

nav ul li a {
  text-decoration: none;
  list-style-type: none;
  color: var(--black);
}

.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
  z-index: 1001;
  width: 30px;
  height: 20px;
  position: relative;
}

.hamburger span {
  display: block;
  width: 100%;
  height: 2px;
  background-color: var(--black);
  position: absolute;
  left: 0;
  transition: all 0.3s ease;
}

.hamburger span:nth-child(1) {
  top: 0;
}
.hamburger span:nth-child(2) {
  top: 9px;
}
.hamburger span:nth-child(3) {
  top: 18px;
}

.hamburger.active span:nth-child(1) {
  transform: rotate(45deg);
  top: 9px;
}

.hamburger.active span:nth-child(2) {
  opacity: 0;
}

.hamburger.active span:nth-child(3) {
  transform: rotate(-45deg);
  top: 9px;
}

.mobile-nav {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: var(--white);
  z-index: 999;
  transform: translateY(100%);
  padding: 2rem;
  box-sizing: border-box;
  overflow-y: auto;
}

.mobile-nav.open {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.mobile-nav ul {
  margin-top: 6rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.mobile-nav ul li {
  margin: 1rem 0;
}

.mobile-nav a {
  font-family: "LT Remark", sans-serif;
  font-size: 3.5rem;
  color: var(--black);
  text-decoration: none;
}

.mobile-nav-footer {
  margin-top: 2rem;
  display: flex;
  gap: 2rem;
  flex-direction: column;
}

.mobile-nav-footer h3 {
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.mobile-nav-footer a {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
}

.social-links {
  display: flex;
  gap: 1rem;
}

.social-links a {
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  font-weight: 400;
}

.btn {
  line-height: 1.5;
  padding: 10px 20px;
  display: inline-flex;
  border: 1px solid var(--black);
  align-items: center;
  color: #000;
  gap: 10px;
  font-weight: 500;
  font-family: inherit;
  font-size: 1rem;
  cursor: pointer;
  user-select: none;
  text-decoration: none;
  position: relative;
  border-radius: 100px;
  width: fit-content;
  overflow: hidden;
  vertical-align: middle;
  transition: color 0.3s ease;
}

.btn::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 0%;
  background-color: var(--black);
  z-index: -1;
  transition: width 0.3s ease;
}

.btn:hover {
  color: var(--white);
}

.btn:hover:before {
  width: 100%;
}

.logo {
  color: var(--black);
  font-family: "Poppins", sans-serif;
  font-size: 1.125rem;
}
.avail {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.wrap {
  display: flex;
  align-items: center;
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  font-weight: 500;
  color: var(--black);
  background: rgba(255, 252, 252, 0.25);
  width: fit-content;
  padding: 5px 15px;
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 24px;
  border: 1px solid #bec0c4;
}
.dot {
  overflow-x: visible;
  animation: pulseDot 1.25s cubic-bezier(0.455, 0.03, 0.515, 0.955) -0.4s infinite;
  background-color: var(--pulsating-dot, #10dc60);
  border-radius: 50%;
  box-sizing: border-box;
  height: 10px;
  width: 10px;
  margin-right: 10px;
}
.round {
  border-radius: 100%;
  padding: 10px;
}
.dot:before {
  animation: pulseRing 1.25s cubic-bezier(0.215, 0.61, 0.355, 1) infinite;
  background-color: var(--pulsating-dot, #10dc60);
  border-radius: 45px;
  content: "";
  display: block;
  height: 300%;
  left: -100%;
  position: relative;
  top: -100%;
  width: 300%;
}

.flex-main {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.profile-img {
  border-radius: 50%;
  width: 30%;
}

ion-icon {
  padding: 0;
}
.btn ion-icon {
  font-size: 20px;
}

.link-icon {
  align-items: center;
  margin: 0 10px 0 0;
  padding: 5px;
  display: inline-block;
  border: 1px solid var(--black);
  color: #000;
  font-size: 24px;
  cursor: pointer;
  user-select: none;
  text-decoration: none;
  position: relative;
  border-radius: 100%;
  overflow: hidden;
  vertical-align: middle;
  transition: color 0.3s ease;
}

.link-icon::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 0%;
  background-color: var(--black);
  z-index: -1;
  transition: width 0.3s ease;
}

.link-icon:hover {
  color: var(--white);
}

.link-icon:hover:before {
  width: 100%;
}
.base {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.icons {
  display: flex;
  justify-content: flex-start;
  height: 100%;
  align-items: center;
}

.icons a {
  height: 24px;
  width: 24px;
  display: flex;
  justify-content: center;
}

.cta-opening {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 90vh;
}

.hero h3 {
  font-family: "LT Remark", sans-serif;
  font-size: 3rem;
  letter-spacing: 0.5px;
  width: 80%;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  color: var(--black);
}
.hero p {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  line-height: 32px;
  transform: translateY(0);
  transition: transform 0.5s;
}
.video-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.vid-box {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4rem 6rem 4rem 6rem;
  width: 100%;
}
.vid-box video {
  border-radius: 1.5rem;
  transform-origin: top;
}
.showcase-portfolio-intro {
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  align-items: center;
}
.support {
  gap: 1rem;
  display: flex;
  flex-direction: column;
}
.support h3 {
  font-family: "LT Remark", sans-serif;
  font-size: 4vw;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  color: #000;
  line-height: 40px;
}

.support p {
  line-height: 26px;
}

/*-- Link Hover Animations --*/
.link {
  height: 30px;
  align-items: center;
  color: #000;
  text-decoration: none;
  display: flex;
}

/* Hide extra text */
.mask {
  position: relative;
  padding: 0;
  height: 20px;

  overflow: hidden;
}

.link-container {
  transition: transform 0.4s ease;
}

.title {
  display: block;
  font-size: 1.125rem;
  line-height: 20px;
  transition: transform 0.4s ease;
}

.link-title1 {
  transform-origin: right center;
}

.link-title2 {
  transform-origin: left center;
  transform: rotate(20deg);
}

/* Hover Action*/

.link:hover .link-container {
  transform: translateY(-20px);
}

.link:hover .link-title1 {
  transform: rotate(20deg);
}

.link:hover .link-title2 {
  transform: rotate(0);
}

/*--- Portfolio Cards ---*/

.container {
  max-width: 70vw;
  height: 50vh;
  width: 100%;
  border: 1px #bec0c4 solid;
  overflow: hidden;
  border-radius: 1.5rem;
  padding: 0 !important;
  position: relative;
  transition: transform 0.2s ease-in-out;
}

.container:hover {
  transform: scale(1.05);
}

.floating {
  height: 100%;
  position: relative;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -webkit-box-pack: justify;
  justify-content: space-between;
  gap: 10px;
  z-index: 1;
}

.floating-tags {
  display: flex;
}
.name {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 500;
  color: var(--white);
  /* margin-bottom: 10px; */
}

.tag,
.tag2 {
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  font-weight: 500;
  color: var(--white);
  background: rgba(70, 67, 67, 0);
  width: fit-content;
  padding: 5px 15px;
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 100px;
  margin-right: 10px;
  border: 2px solid #ffffff2e;
}
.latest {
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  font-weight: 500;
  color: var(--white);
  background-color: #282d3c;
  width: fit-content;
  padding: 5px 15px;
  border-radius: 100px;
  margin-right: 10px;
  border: 2px solid #282d3c;
}

.floating-link {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  cursor: pointer;
  /* cursor: url("cursor.png"), auto; */
  z-index: 3;
}

.box-bg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  -webkit-box-align: center;
  overflow: hidden;
}

.image {
  position: relative;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  margin: 0;
  transition: transform 0.2s ease-in-out;
}

.image:hover {
  transform: scale(1.05);
}

.box-bg .image video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

figure {
  width: 100%;
}

figure.image {
  aspect-ratio: 1 !important;
  height: 100%;
}

.floating-top {
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  padding: 24px;
  align-items: flex-end;
}

.floating-bottom {
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  padding: 24px;
}
.name-info {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  /* border: 1px red solid; */
}

.dash {
  margin: 0 10px;
  width: 3em;
  height: 1.3px;
  background-color: #fff;
}

.date {
  color: var(--white);
  font-size: 24px;
  font-weight: 500;
}
.box-bg::before {
  content: "";
  background-image: -o-linear-gradient(271deg, #5d5d5d00 40%, #000);
  background-image: linear-gradient(179deg, #97171707 40%, #000);
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 3;
  pointer-events: none;
  transform: translateZ(0);
}

/*--- About bento design --*/

.bento-grid {
  display: grid;
  grid-template-rows: repeat(1, 600px);
  grid-template-columns: repeat(12, 1fr);
  gap: 25px;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.bx {
  display: flex;
  justify-content: center;
}

.title-txt-stack {
  display: flex;
  flex-direction: column;
  grid-row: 1 / 1;
  grid-column: 1 / 6;
  gap: 25px;
}

.title-bx {
  word-wrap: break-word;
  padding: 25px;
  height: 300px;
  display: flex;
  border-radius: 1.5rem;
  border: 1px solid #bec0c4;
}

.title-stack {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.title-bx h3 {
  font-family: "LT Remark", sans-serif;
  font-size: 3rem;
  line-height: 32px;
}

.title-bx p {
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  line-height: 26px;
}

.image-extra-stack {
  display: flex;
  grid-row: 1 / 1;
  grid-column: 6 / 9;
  flex-direction: column;
  gap: 25px;
}

.image-bx {
  flex-grow: 1;
  overflow: hidden;
}

.image-bx img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 1.5rem;
}

.experience-bx {
  background: #dddcdc05;
  border: 1px solid #bec0c4;
  word-wrap: break-word;
  padding: 25px;
  border-radius: 1.5rem;
  grid-row: 1 / 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  grid-column: 9 / 14;
}

.experience-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

.experience-bx .experience-top h3 {
  font-family: "LT Remark", sans-serif;
  font-size: 3rem;
}

.job {
  margin: 15px 0 15px 0;
}

.job .job-title {
  font-family: "Poppins", sans-serif;
  font-size: 1.125rem;
  font-weight: 500;
  color: var(--black);
}

.job-desc {
  display: flex;
  color: var(--black);
  align-items: center;
}

.dash-dark {
  background-color: #000;
  margin: 0 10px;
  width: 3em;
  height: 1.3px;
}

.job .role,
.duration,
.desc {
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  color: var(--black);
}

.job-title,
.duration,
.role,
.desc {
  margin-bottom: 5px;
}

.skillset-bx {
  padding: 25px;
  height: calc(300px - 25px);
  background: #dddcdc05;
  border-radius: 1.5rem;
  border: 1px solid #bec0c4;
}

.skillset-stack {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.skillset-bx h3 {
  font-family: "LT Remark", sans-serif;
  font-size: 3rem;
  margin-bottom: 10px;
}

.skillset-bx img {
  height: 64px;
}

.external-bx {
  padding: 25px;
  max-height: 110px;
  border-radius: 1.5rem;
  border: 1px solid #bec0c4;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.external-bx h3 {
  font-family: "LT Remark", sans-serif;
  font-size: 2vw;
  margin-bottom: 10px;
  color: var(--black);
}

/* Responsive styles */
@media (max-width: 1024px) {
  .bento-grid {
    grid-template-rows: auto;
    grid-template-columns: repeat(8, 1fr);
    gap: 20px;
  }

  .title-txt-stack {
    grid-column: 1 / 5;
  }

  .image-extra-stack {
    grid-column: 5 / 9;
  }

  .experience-bx {
    grid-column: 1 / 9;
    grid-row: 2 / 2;
  }

  .title-bx,
  .skillset-bx,
  .experience-bx {
    height: auto;
  }

  .title-bx h3,
  .experience-bx .experience-top h3,
  .skillset-bx h3 {
    font-size: 2.5rem;
  }

  .skillset-bx img {
    height: 48px;
  }
}

@media (max-width: 768px) {
  .bento-grid {
    grid-template-columns: 1fr;
    gap: 15px;
  }

  .title-txt-stack,
  .image-extra-stack,
  .experience-bx {
    grid-column: 1 / -1;
    grid-row: auto;
  }

  .title-bx h3,
  .experience-bx .experience-top h3,
  .skillset-bx h3 {
    font-size: 2rem;
  }

  .skillset-bx img {
    height: 40px;
  }

  .job-desc {
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
  }

  .dash-dark {
    display: none;
  }

  .image-bx {
    height: 300px;
  }
}

@media (max-width: 480px) {
  .bento-grid {
    padding: 10px;
  }

  .title-bx,
  .skillset-bx,
  .experience-bx,
  .external-bx {
    padding: 15px;
  }

  .title-bx h3,
  .experience-bx .experience-top h3,
  .skillset-bx h3 {
    font-size: 1.75rem;
  }

  .title-bx p,
  .job .role,
  .duration,
  .desc {
    font-size: 0.9rem;
  }

  .skillset-bx img {
    height: 32px;
  }
}
/*--- Portfolio Page --*/
.project-canvas {
  display: flex;
  flex-direction: column;
  gap: 8rem;
}

.cl-wrap {
  gap: 2rem;
  display: flex;
  flex-direction: column;
}

.project {
  position: relative;
  overflow: visible;
  height: auto;
  will-change: scale;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  transform: translateY(40px);
  width: fit-content;
  opacity: 0;
}
.project::after {
  opacity: 0;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: all 0.2s ease-in-out;
  pointer-events: none;
}
.project:hover img {
  scale: 1.05;
}

.prx-basic {
  display: flex;
  flex-direction: column;
  padding: 20px 8px;
  gap: 1rem;
}
.prx-thumb {
  overflow: hidden;
  will-change: scale;
  display: flex;
  height: 100%;
  border-radius: 1.5rem;
  max-height: 500px;
}
.prx-thumb .portfolio-cover {
  transition: scale 0.5s ease;
  opacity: 1;
  object-fit: cover;
  width: 100%;
}
.prx-thumb .portfolio-video {
  opacity: 1;
  object-fit: cover;
  max-width: 856px;
  width: 100%;
  height: 100%;
}
.header {
  max-width: 970px;
  gap: 1rem;
  display: flex;
  flex-direction: column;
}

.header h3 {
  font-family: "LT Remark", sans-serif;
  font-size: 3em;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}
.project-grid-header {
  display: flex;
  gap: 1rem;
  align-items: flex-end;
}
.project-grid-header h3 {
  font-family: "LT Remark", sans-serif;
  font-size: 3em;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}
.project-grid-header span {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  font-weight: 500;
}

.header p {
  font-family: "Poppins", sans-serif;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  font-size: 20px;
  font-weight: 500;
  color: #0a0808c1;
}
.prx-details {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.prx-title h4 {
  font-family: "LT Remark", sans-serif;
  font-size: clamp(1.25rem, 1.1959rem + 0.2703vw, 1.5rem);
}

.star {
  font-size: 12px;
}

.prx-title {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  line-height: 100%;
}

.prx-subtitle {
  font-size: 1rem;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  line-height: 100%;
}

.project-mainframe {
  gap: 8rem;
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  gap: 1.5rem;
}

/*-- Project Page --*/
.project-page {
  display: flex;
  flex-direction: column;
  gap: 10rem;
}

.project-stats {
  display: flex;
  flex-direction: column;
  gap: 1.3rem;
}
.project-stats h2 {
  font-family: "LT Remark", sans-serif;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  font-size: 3rem;
}
.project-stats h4 {
  font-family: "Poppins", sans-serif;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  font-size: 1.5em;
}
.project-info {
  display: flex;
  gap: 2rem;
  width: fit-content;
  flex-direction: column;
}
.project-duration {
  display: flex;
  width: fit-content;
  gap: 2rem;
}
.duration-design,
.duration-development {
  display: flex;
  flex-direction: column;
  gap: rem;
  /* bordr: 1px red solid; */
}
.duration-design h3 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  font-size: 1.5rem;
}
.duration-development h3 {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 1.5rem;
}
.duration-development p {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 18px;
}
.duration-design p {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  font-size: 18px;
}
.project-description {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  max-width: 633px;
  align-items: flex-end;
  /* border: 1px red solid; */
  height: fit-content;
  width: fit-content;
}
.project-description p {
  line-height: 32px;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}
.tags {
  display: flex;
  gap: 1rem;
}

.tag-div {
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  font-weight: 500;
  color: var(--black);
  background: rgba(232, 232, 232, 0.536);
  width: fit-content;
  padding: 5px 15px;
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 100px;
  margin-right: 10px;
  border: 2px solid #ffffff2e;
}

.gapped {
  align-items: center;
  justify-content: space-between;
}
.gap-jc {
  gap: 40rem;
}
.banners {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.banner-image {
  width: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
}
.banner-image img {
  display: block;
  width: 100%;
}

/*-- Case Study Intro --*/
.content-wrap {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: max-content;
  gap: 5rem;
}
.project-introduction {
  gap: 2rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  /* border: 1px red solid; */
}
.scr-rvl {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}
.center-intro {
  display: flex;
  justify-content: center;
}
.introduction {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.introduction h4 {
  font-size: 24px;
  font-weight: 500;
  font-size: "Poppins", sans-serif;
}
.introduction p {
  font-size: 16px;
  line-height: 32px;
  max-width: 983px;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  font-family: "Poppins", sans-serif;
}
.role-tools,
.client-duration {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.role,
.tools,
.client,
.duration {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.h4-lt {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 500;
}

.p-lt {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  line-height: 32px;
}

.duo-banner {
  /* border: 1px red solid; */
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.main-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5rem;
}

.problem h4 {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}
.problem p {
  font-size: 16px;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  line-height: 32px;
  max-width: 983px;
  font-family: "Poppins", sans-serif;
}
.solution h4 {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}
.solution p {
  font-size: 16px;
  line-height: 32px;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  max-width: 983px;
  font-family: "Poppins", sans-serif;
}
.outcome h4 {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}
.outcome p {
  font-size: 16px;
  line-height: 32px;
  max-width: 983px;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  font-family: "Poppins", sans-serif;
}

/*-- Spotify API --*/
.playing-animation {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 13px;
  height: 13px;
}

.playing-animation span {
  width: 3px;
  height: 100%;
  background-color: #1ed760;
  border-radius: 3px;
  animation: spotifyAnim 2.2s ease infinite alternate;
  content: "";
  transform-origin: bottom;
}

.playing-animation span:nth-of-type(2) {
  animation-delay: -2.2s;
}

.playing-animation span:nth-of-type(3) {
  animation-delay: -3.7s;
}

/*-- SpotifyNowPlaying --*/
.result-box {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: space-between;
}

.head-gap {
  display: flex;
  gap: 10px;
  align-items: center;
}

.album-art {
  width: 50px;
  height: 50px;
  border-radius: 5px;
}

.song-title {
  font-size: 18px;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
}

/*-- About Page --*/
.about-section {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}
.about-wrapper {
  display: flex;
  justify-content: center;
}

.about-container {
  display: flex;
  align-items: center;
  gap: 10rem;
}
.about-image {
  width: 100%;
  text-align: center;
}
.about-image img {
  border-radius: 50%;
  width: 360px;
}
.about-content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
}
.about-content h3 {
  font-family: "LT Remark", sans-serif;
  font-size: 3rem;
}
.about-content h4 {
  font-family: "Poppins", sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
}
.about-content p {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  color: var(--ash);
}

/*-- Bio --*/
.bio-section {
  border-radius: 1.5rem;
  background-color: var(--glass);
  padding: 6rem 5rem;
}

.bio-section h3 {
  font-family: "Poppins", sans-serif;
  font-size: 2rem;
  line-height: 1.5em;
  font-weight: 500;
}
/*-- Experience --*/
.experience-wrapper {
  display: flex;
  justify-content: space-around;
  gap: 4rem;
}
.experience-container {
  width: 100%;
  display: flex;
  gap: 1rem;
  flex-direction: column;
}
.title-cv {
  display: flex;
  width: 100%;
  justify-content: space-between;
  flex-direction: column;
  gap: 1rem;
}
.title-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.title-container h3 {
  font-family: "LT Remark", sans-serif;
  line-height: normal;
  font-size: 3rem;
}
.title-container p {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  line-height: 1.5em;
  color: var(--ash);
}
.experience-content {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

/*-- Experience Content --*/
.experience-container h3 {
  font-family: "Poppins", sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
}
.experience-card {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.exp-card-seperator {
  width: 100%;
  height: 1px;
  background-color: #dde0d1;
}

.experience-icon img {
  max-width: 32px;
  height: auto;
}

.experience-info h4 {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 500;
}
.experience-info p {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  color: var(--ash);
}

/*-- Footer --*/
.footer-section {
  border: 1px solid #bec0c4;
  padding: 3rem 5rem;
  border-radius: 1.5rem;
  display: flex;
  gap: 3rem;
  flex-direction: column;
  justify-content: space-between;
}
.footer-cta {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  align-items: center;
  text-align: center;
}
.footer-cta h3 {
  font-family: "LT Remark", sans-serif;
  font-size: 3rem;
}

.footer-cta p {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  color: var(--ash);
}
.footer-links {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.footer-links ul {
  justify-content: center;
}
.footer-copyright p {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  color: var(--ash);
  text-align: center;
}
/* Responsive styles */
@media (max-width: 1024px) {
  body section {
    padding: 1rem 3rem;
  }
  nav {
    padding: 1rem 0;
  }
  .hero h3 {
    font-size: 2rem;
    width: 100%;
  }
  .hero img {
    width: 12rem;
  }
}

@media (max-width: 768px) {
  body section {
    padding: 1rem 2rem;
  }
  .preloader__text {
    font-size: 2rem;
  }
  .desktop-nav {
    display: none;
  }
  .hamburger {
    display: flex;
  }
  .mobile-nav {
    display: block;
  }
  .hero h3 {
    font-size: 2.5rem;
    width: 100%;
  }
  .hero img {
    width: 12rem;
  }
  .base .icons {
    display: none;
  }
}

@media (max-width: 480px) {
  .preloader__text {
    font-size: 1.5rem;
  }
  .hero h3 {
    font-size: 2rem;
    width: 100%;
  }
  .hero p {
    font-size: 16px;
  }
  .hero img {
    width: 10rem;
  }
}

/* Hide video animation for screens smaller than 1025px */
@media (max-width: 1024px) {
  .video-section {
    display: none;
  }
}
