/*-- Standard Settings --*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.cdnfonts.com/css/lt-remark");

:root {
  /* Colors */
  --glass: #f5f4fc;
  --ash: #959cad;
  --white: #fff;
  --charcoal: #111111;
  --black: #000;
  --alpha-40: rgba(255, 255, 255, 0.4);
  --alpha-25: rgba(255, 255, 255, 0.25);
  --blur: blur(5px);
}

* {
  margin: 0;
  padding: 0;
}

/* Animations */

@keyframes pulseRing {
  0% {
    transform: scale(0.5);
  }
  80%,
  100% {
    opacity: 0;
  }
}

@keyframes pulseDot {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
}
body {
  margin: 0 80px;
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  background-image: url("./noise.png");
  background: rgb(122, 122, 122);
  background: linear-gradient(
    23deg,
    rgba(122, 122, 122, 1) 0%,
    rgba(252, 253, 252, 1) 100%
  );
}

a {
  text-decoration: none;
  list-style-type: none;
  color: var(--black);
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

nav {
  display: flex;
  justify-content: space-between;
  margin: 40px 0 100px 0;
  align-items: center;
}

nav ul {
  display: flex;
  align-items: center;
}

nav ul li {
  list-style-type: none;
  margin: 0 10px;
}

nav ul li a {
  text-decoration: none;
  list-style-type: none;
  color: var(--black);
}

/* .special-txt {
  font-weight: 700;
} */
.btn {
  line-height: 1.5;
  padding: 10px 20px;
  display: inline-flex;
  border: 1px solid var(--black);
  align-items: center;
  color: #000;
  gap: 10px;
  font-weight: 500;
  font-family: inherit;
  font-size: 1rem;
  cursor: pointer;
  user-select: none;
  text-decoration: none;
  position: relative;
  border-radius: 100px;
  overflow: hidden;
  vertical-align: middle;
  transition: color 0.3s ease;
}

.btn::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 0%;
  background-color: var(--black);
  z-index: -1;
  transition: width 0.3s ease;
}

.btn:hover {
  color: var(--white);
}

.btn:hover:before {
  width: 100%;
}

.logo {
  color: var(--black);
  font-family: "Poppins", sans-serif;
  font-size: 1.125rem;
}
.avail {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.wrap {
  display: flex;
  align-items: center;
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  font-weight: 500;
  color: var(--black);
  background: rgba(255, 252, 252, 0.25);
  width: fit-content;
  padding: 5px 15px;
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 24px;
  border: 1px solid #bec0c4;
}
.dot {
  animation: pulseDot 1.25s cubic-bezier(0.455, 0.03, 0.515, 0.955) -0.4s infinite;
  background-color: var(--pulsating-dot, #10dc60);
  border-radius: 50%;
  box-sizing: border-box;
  height: 10px;
  width: 10px;
  margin-right: 10px;
}

.dot:before {
  animation: pulseRing 1.25s cubic-bezier(0.215, 0.61, 0.355, 1) infinite;
  background-color: var(--pulsating-dot, #10dc60);
  border-radius: 45px;
  content: "";
  display: block;
  height: 300%;
  left: -100%;
  position: relative;
  top: -100%;
  width: 300%;
}

.flex-main {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.profile-img {
  border-radius: 50%;
  width: 30%;
}
ion-icon {
  padding: 0;
}
.btn ion-icon {
  font-size: 20px;
}

.link-icon {
  align-items: center;
  margin: 0 10px 0 0;
  padding: 5px;
  display: inline-block;
  border: 1px solid var(--black);
  color: #000;
  font-size: 24px;
  cursor: pointer;
  user-select: none;
  text-decoration: none;
  position: relative;
  border-radius: 100%;
  overflow: hidden;
  vertical-align: middle;
  transition: color 0.3s ease;
}

.link-icon::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 0%;
  background-color: var(--black);
  z-index: -1;
  transition: width 0.3s ease;
}

.link-icon:hover {
  color: var(--white);
}

.link-icon:hover:before {
  width: 100%;
}
.base {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.icons {
  display: flex;
  justify-content: flex-start;
  height: 100%;
  align-items: center;
}

.icons a {
  height: 24px;
  width: 24px;
  display: flex;
  justify-content: center;
}

.cta-opening {
  width: 100%;
  height: 70vh;
}
.width-res {
  /* border: 1px green solid; */
  display: flex;
  width: 100%;
  height: 70vh;
  flex-direction: column;
  justify-content: space-between;
}

.intro {
  /* border: 2px black dotted; */
  display: flex;
  width: 100%;
  align-items: center;
}
.cta-opening .width-res .intro h3 {
  font-family: "LT Remark", sans-serif;
  font-size: 3em;
  color: #000;
  margin-bottom: 10px;
}

.cta-opening .width-res .intro h4 {
  font-family: "LT Remark", sans-serif;
  font-size: 2em;
  color: #000000;
  line-height: 1.5em;
  margin-bottom: 10px;
}

video {
  width: 100%;
  height: 50%;
  /* cursor: url("cursor.png"), auto; */
  display: block;
}

.showcase {
  display: flex;
  align-items: center;
  margin-top: 150px;
  flex-direction: column;
}

.showcase-portfolio-intro {
  display: flex;
  margin-top: 150px;
  margin-bottom: 20px;
  align-items: center;
}
.support {
  /* border: 1px green solid; */
  margin-right: 50px;
}
.support h3 {
  font-family: "LT Remark", sans-serif;
  font-size: 4vw;
  margin-bottom: 10px;
  color: #000;
}
.support p {
  line-height: 26px;
}
.support .btn {
  margin-top: 20px;
}

/*-- Link Hover Animations --*/
.link {
  height: 30px;
  align-items: center;
  color: #000;
  text-decoration: none;
  display: flex;
}

/* Hide extra text */
.mask {
  position: relative;
  padding: 0;
  height: 20px;

  overflow: hidden;
}

.link-container {
  transition: transform 0.4s ease;
}

.title {
  display: block;

  font-size: 1.125rem;
  line-height: 20px;

  transition: transform 0.4s ease;
}

.link-title1 {
  transform-origin: right center;
}

.link-title2 {
  transform-origin: left center;
  transform: rotate(20deg);
}

/* Hover Action*/

.link:hover .link-container {
  transform: translateY(-20px);
}

.link:hover .link-title1 {
  transform: rotate(20deg);
}

.link:hover .link-title2 {
  transform: rotate(0);
}

/*--- Portfolio Cards ---*/

.container {
  max-width: 70vw;
  height: 50vh;
  width: 100%;
  border: 1px #bec0c4 solid;
  overflow: hidden;
  padding: 0 !important;
  position: relative;
  transition: transform 0.2s ease-in-out;
}

.container:hover {
  transform: scale(1.05);
}

.floating {
  height: 100%;
  position: relative;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -webkit-box-pack: justify;
  justify-content: space-between;
  gap: 10px;
  z-index: 2;
}

.floating-tags {
  display: flex;
}
.name {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 500;
  color: var(--white);
  /* margin-bottom: 10px; */
}

.tag,
.tag2 {
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  font-weight: 500;
  color: var(--white);
  background: rgba(70, 67, 67, 0.25);
  width: fit-content;
  padding: 5px 15px;
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 100px;
  margin-right: 10px;
  border: 2px solid #ffffff2e;
}
.latest {
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  font-weight: 500;
  color: var(--white);
  background-color: #282d3c;
  width: fit-content;
  padding: 5px 15px;
  border-radius: 100px;
  margin-right: 10px;
  border: 2px solid #282d3c;
}

.floating-link {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  cursor: pointer;
  /* cursor: url("cursor.png"), auto; */
  z-index: 3;
}

.box-bg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  -webkit-box-align: center;
  overflow: hidden;
}

.image {
  position: relative;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  margin: 0;
  transition: transform 0.2s ease-in-out;
}

.image:hover {
  transform: scale(1.05);
}

.box-bg .image video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

figure {
  width: 100%;
}

figure.image {
  aspect-ratio: 1 !important;
  height: 100%;
}

.floating-top {
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  padding: 24px;
  align-items: flex-end;
}

.floating-bottom {
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  padding: 24px;
}
.name-info {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  /* border: 1px red solid; */
}

.dash {
  margin: 0 10px;
  width: 3em;
  height: 1.3px;
  background-color: #fff;
}

.date {
  color: var(--white);
  font-size: 24px;
  font-weight: 500;
}
.box-bg::before {
  content: "";
  background-image: -o-linear-gradient(271deg, #5d5d5d00 40%, #000);
  background-image: linear-gradient(179deg, #97171707 40%, #000);
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 3;
  pointer-events: none;
  transform: translateZ(0);
}

/*--- About bento design --*/

.bento-grid {
  margin: 150px 0 50px 0;
  display: grid;
  grid-template-rows: 100px 100px 100px 100px 100px 100px 100px;
  grid-template-columns: 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px;
}

.title-bx {
  word-wrap: break-word;
  padding: 25px;
  background: #dddcdc69;
  border: 1px solid #bec0c4;
  grid-row: 1 / 3;
  grid-column: 1 / 9;
}

.title-bx h3 {
  font-family: "LT Remark", sans-serif;
  font-size: 2vw;
  padding-bottom: 10px;
}
.title-bx p {
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  line-height: 26px;
}

.experience-bx {
  background: #dddcdc69;
  border: 1px solid #bec0c4;
  word-wrap: break-word;
  padding: 25px;
  grid-row: 1 / 8;
  grid-column: 9 / 18;
}
.experience-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

.experience-bx .experience-top h3 {
  font-family: "LT Remark", sans-serif;
  font-size: 2vw;
}

.experience-bx .experience-top ion-icon {
  font-size: 32px;
  text-decoration: none;
  color: #000;
  height: 32px;
}

.experience-bx .experience-top a {
  height: 32px;
}
.job {
  margin: 15px 0 15px 0;
}
.job .job-title {
  font-family: "Poppins", sans-serif;
  font-size: 1.125rem;
  color: var(--black);
}

.job-desc {
  display: flex;
  color: var(--black);
  align-items: center;
}
.dash-dark {
  background-color: #000;
  margin: 0 10px;
  width: 3em;
  height: 1.3px;
}
.job .role,
.duration,
.desc {
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  color: var(--black);
}
.job-title,
.duration,
.role,
.desc {
  margin-bottom: 5px;
}
.skillset-bx {
  padding: 25px 25px 10px 25px;
  height: fit-content;
  background: #dddcdc69;
  /* width: 30%; */
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border: 1px solid #bec0c4;
  grid-row: 3 / 7;
  grid-column: 1 / 9;
}

.skillset-bx h3 {
  font-family: "LT Remark", sans-serif;
  font-size: 2vw;
  margin-bottom: 10px;
}
.skillset-bx p {
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  padding-bottom: 10px;
}

.skillset-bx .skills span {
  display: flex;
  gap: 10px;
  align-items: center;
  margin-bottom: 10px;
}
.skillset-bx .skills ion-icon {
  font-size: 32px;
}

.external-bx {
  padding: 25px;
  background: #dddcdc69;
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border: 1px solid #bec0c4;
  display: flex;
  flex-direction: column;
  grid-row: 6 / 8;
  grid-column: 1 / 9;
}

.external-bx h3 {
  font-family: "LT Remark", sans-serif;
  font-size: 2vw;
  margin-bottom: 10px;
  color: var(--black);
}

.profile-bx {
  width: fit-content;
  display: flex;
  grid-row: 3 / 6;
  grid-column: 5 / 9;
}

.profile-bx img {
  width: 400px;
}

/*--- Portfolio Page --*/

.wrapper {
  border: 1px red solid;
  background-color: red;
  height: fit-content;
  width: fit-content;
}
.prx-basic {
  display: flex;
  flex-direction: column;
  gap: 6px;
}
.prx-thumb {
  overflow: hidden;
  will-change: scale;
  display: flex;
  height: 100%;
  border-radius: 3rem;
  max-height: 500px;
}
.prx-thumb img {
  transition: scale 0.5s ease;
  opacity: 1;
  object-fit: cover;
  height: 100%;
  /* max-width: 70%; */
}

.wrapper .row {
  border: 1px green solid;
  padding: 5px 15px;
}

.wrapper .row h3 {
  font-family: "LT Remark", sans-serif;
  font-size: 3em;
  margin-bottom: 10px;
}

.wrapper .row p {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  color: #0a0808c1;
  margin-bottom: 10px;
}
.prx-details {
  border: 2px blue solid;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.prx-title h4 {
  font-family: "LT Remark", sans-serif;
  font-size: clamp(1.25rem, 1.1959rem + 0.2703vw, 1.5rem);
}

.star {
  font-size: 12px;
}

.prx-title {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  line-height: 100%;
}

.prx-subtitle {
  font-size: 1rem;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  line-height: 100%;
}
