/*-- Standard Settings --*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.cdnfonts.com/css/lt-remark");

:root {
  /* Colors */
  --glass: #f5f4fc;
  --ash: #959cad;
  --white: #fff;
  --charcoal: #111111;
  --black: #000;
  --alpha-40: rgba(255, 255, 255, 0.4);
  --alpha-25: rgba(255, 255, 255, 0.25);
  --blur: blur(5px);
}

* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0 80px;
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

nav {
  display: flex;
  justify-content: space-between;
  margin: 25px 0;
  align-items: center;
}

nav ul {
  display: flex;
  align-items: center;
}

nav ul li {
  list-style-type: none;
  margin: 0 10px;
}

nav ul li a {
  text-decoration: none;
  list-style-type: none;
  color: var(--black);
}

.btn {
  line-height: 1.5;
  padding: 10px 20px;
  display: inline-block;
  border: 1px solid var(--black);
  color: #000;
  font-weight: 500;
  text-transform: capitalize;
  font-family: inherit;
  font-size: 16px;
  cursor: pointer;
  user-select: none;
  text-decoration: none;
  position: relative;
  border-radius: 100px;
  overflow: hidden;
  vertical-align: middle;
  transition: color 0.3s ease;
}

.btn::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 0%;
  background-color: var(--black);
  z-index: -1;
  transition: width 0.3s ease;
}

.btn:hover {
  color: var(--white);
}

.btn:hover:before {
  width: 100%;
}

.logo {
  color: var(--black);
  font-family: "Poppins", sans-serif;
  font-size: 18px;
}

.cta-opening {
  margin-top: 100px;
  max-width: 70%;
}

.cta-opening h3 {
  font-family: "LT Remark", sans-serif;
  font-size: 4vw;
  padding-bottom: 24px;
}

.cta-opening p {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  line-height: 26px;
}

video {
  width: 100%;
  height: 50%;
  display: block;
}

.showcase {
  display: flex;
  align-items: center;
  margin-top: 100px;
  flex-direction: column;
}

.showcase-portfolio-intro {
  display: flex;
  margin-top: 100px;
  margin-bottom: 20px;
  align-items: center;
}
.support {
  /* border: 1px green solid; */
  margin-right: 50px;
}
.support h3 {
  font-family: "Poppins", sans-serif;
  font-size: 4vw;
  /* margin-bottom: 20px; */
  color: #282d3c;
}
.support p {
  line-height: 26px;
}
.support .btn {
  margin-top: 20px;
}

/*-- Link Hover Animations --*/
.link {
  height: 30px;
  align-items: center;
  color: #000;
  text-decoration: none;
  display: flex;
}

/* Hide extra text */
.mask {
  position: relative;
  padding: 0;
  height: 20px;

  overflow: hidden;
}

.link-container {
  transition: transform 0.4s ease;
}

.title {
  display: block;

  font-size: 18px;
  line-height: 20px;

  transition: transform 0.4s ease;
}

.link-title1 {
  transform-origin: right center;
}

.link-title2 {
  transform-origin: left center;
  transform: rotate(20deg);
}

/* Hover Action*/

.link:hover .link-container {
  transform: translateY(-20px);
}

.link:hover .link-title1 {
  transform: rotate(20deg);
}

.link:hover .link-title2 {
  transform: rotate(0);
}

/*--- Portfolio ---*/

.container {
  max-width: 70vw;
  height: 50vh;
  width: 100%;
  border: 1px #bec0c4 solid;
  overflow: hidden;
  padding: 0 !important;
  position: relative;
  transition: transform 0.2s ease-in-out;
}
.container:hover {
  transform: scale(1.05);
}
.floating {
  height: 100%;
  position: relative;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -webkit-box-pack: justify;
  justify-content: space-between;
  gap: 10px;
  z-index: 2;
}

.floating-tags {
  display: flex;
}
.name {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 500;
  color: var(--white);
  /* margin-bottom: 10px; */
}

.tag,
.tag2 {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: var(--white);
  background: rgba(70, 67, 67, 0.25);
  width: fit-content;
  padding: 5px 15px;
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 100px;
  margin-right: 10px;
  border: 2px solid #ffffff2e;
}
.latest {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: var(--white);
  background-color: #282d3c;
  width: fit-content;
  padding: 5px 15px;
  border-radius: 100px;
  margin-right: 10px;
  border: 2px solid #282d3c;
}

.floating-link {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  cursor: pointer;
  z-index: 3;
}

.floating-link:hover {
  cursor: url("cursor.png"), auto;
}

.box-bg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  -webkit-box-align: center;
  overflow: hidden;
}

.image {
  position: relative;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  margin: 0;
}

.box-bg .image video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

figure {
  width: 100%;
}

figure.image {
  aspect-ratio: 1 !important;
  height: 100%;
}

.floating-top {
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  padding: 24px;
  align-items: flex-end;
}

.floating-bottom {
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  padding: 24px;
}
.name-info {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  /* border: 1px red solid; */
}

.dash {
  margin: 0 10px;
  width: 3em;
  height: 1.3px;
  background-color: #fff;
}

.date {
  color: var(--white);
  font-size: 24px;
  font-weight: 500;
}
.box-bg::before {
  content: "";
  background-image: -o-linear-gradient(271deg, #5d5d5d00 40%, #000);
  background-image: linear-gradient(179deg, #97171707 40%, #000);
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 3;
  pointer-events: none;
  transform: translateZ(0);
}
